#fiche {
    background-color: #34495e;
}
#fiche table,td,tr{
    margin: auto;
    padding: auto;
    border-collapse: collapse;
}

#fiche h2,h1{
    padding: 20px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    font-style: italic;
    background-color: #34495e;
}
#fiche h1{
    margin-bottom: 20px;
    text-decoration: underline ;
}

#fiche table{
    font-weight: bolder;
    color: #ffffff;
    border: 1px solid black;
    background-color:#31977a
}

#fiche td{
    width: 25%;
    height: 20px;
    text-align: center;
    height: 50px;
}

#fiche input{
    height: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
}

#fiche .space{
    width: 5%;
}